@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard-regular.subset.woff2') format('woff2');
    font-display: swap;
  }

  html {
    font-family: 'Pretendard';
    font-size: 16px;
  }
}

body {
  height: 100%;
  background-color: rgb(241 245 249);
}

.custom-hover:hover {
  background-color: #e9edff;
  outline: 2px solid #7990f6;
}

.swal2-container {
  max-width: 500px !important;
  width: 100% !important;
  padding: 24px;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
